<!DOCTYPE html>
<html>
<head>

</head>
<body>
{% extends "material/base.html" %}
{% block content %}
<div>
<div class="col 12 m10 offset-ml center">
    <img src="static/imgs/h1.jpg"  width="600" height="300">
   <div class="col 12 m10 offset-ml center">
            <a href="{{url_for('index')}}" class="btn btn-small red white-text waves-effect waves-dark">Back</a>
            
        </div>
</div>
</div>
    </div>     
<div class="container">
		<h1>Details : </h1>
    <h3>This is a basic machine learning based medical app.</h3>
    <p>The prediction about the disease is made with the help of the machine learning model which itself is trained on the thousands of the datasets</p>
    <h3>Attributes of the dataset:-</h3>
    <ul>
      <li>Age: Age of the patient</li><br>
      <li>Gender: 0 = Female; 1 = Male</li><br>
      <li>Education: 1 = Some High School, 2 = High School or GED, 3 = Some College or Vocational School, 4 = college
      </li><br>
      <li>Current Smoker:0 = nonsmoker , 1 = smoker.</li><br>
      <li>CigsPerDay : Number of cigarettes smoked per day (estimated average).</li><br>
      <li>BPMeds : 0 = Not on Blood Pressure medications , 1 = Is on Blood Pressure medications.</li><br>
      <li>Prevalent Stroke: whether or not the patient had previously had a stroke(0=No , 1=Yes).</li><br>
      <li>Prevalent Hyp: whether or not the patient was hypertensive(0-No , 1-Yes).</li><br>
      <li>Diabetes: whether or not the patient had diabetes(0 = No , 1 = Yes).</li><br>
      <li>Tot Chol: Total cholesterol level.</li><br>
      <li>Sys BP: Systolic blood pressure.</li><br>
      <li>Dia BP: Diastolic blood pressure.</li><br>
      <li>BMI: Body Mass Index.</li><br>
      <li>Heart Rate: heart rate.</li><br>
      <li>Glucose: glucose level. </li><br>
    </ul>
    
    <br>
    <h3>Symptoms:-</h3>
    <div style="text-align: center; margin-top: 20px">
       <img style="max-width: 400px" src="static/imgs/hh3.jpg"/>
   </div>
 <ul>
  <li>Chest pain, chest tightness, chest pressure and chest discomfort (angina).</li><br>
  <li>Shortness of breath.</li><br>
  <li>Pain, numbness, weakness or coldness in your legs or arms if the blood vessels in those parts of your body are narrowed.</li><br>
  <li>Pain in the neck, jaw, throat, upper abdomen or back.</li><br>
</ul>
<br> 
    

</div>
</div>



{% endblock %}
</body>
</html>
